*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ArchRegular;
    src: url('/assets/fonts/Archivo-Regular.ttf');
}
@font-face {
    font-family: ArchMedium;
    src: url('/assets/fonts/Archivo-Medium.ttf');
}

body {
    font-family: ArchRegular;
}

.portfolio {
    color: white;
    background:#343331;
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    font-size: 20px;
    font-family: ArchRegular;
}

.hamburger {
    cursor: pointer;
}
.line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 1.0s ease;
}
.hamburger div {
    animation: hamburger 1s ease infinite alternate;
}
.line:nth-of-type(1) {
    animation-delay: 0s;
}
.line:nth-of-type(2) {
    animation-delay: 0.3s;
}
.line:nth-of-type(3) {
    animation-delay: 0.6s;
}

.showcase {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
    overflow: hidden;
    height: 500px;
    align-items: center;
    justify-self: center;
}

.details {
    grid-column: 2/3;
    align-self: end;
}
.details h1 {
    font-size: 64px;
}
.details h2 {
    font-size: 42px;
    padding: 20px 0px 30px 0px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.pages > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages h3 {
    font-size: 24px;
    padding:30px;
}
.pages svg {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(2);
}
.pages svg:hover {
    animation: dot 0.8s ease-in-out infinite alternate;
}
.pages svg.active {
    opacity: 1;
}

@keyframes hamburger {
    0% { transform: scaleX(0.5) }
    100% { transform: scaleX(1.5) }
}
@keyframes dot {
    0% { transform: scale(2) }
    100% { transform: scale(4) }
}